apiVersion: v1
kind: Pod
metadata:
  name: nginx-with-config-secret
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    env:
    - name: USERNAME
      valueFrom:
        secretKeyRef:
          name: nginx-secret
          key: username
    - name: PASSWORD
      valueFrom:
        secretKeyRef:
          name: nginx-secret
          key: password
    - name: ENVIRONMENT
      valueFrom:
        configMapKeyRef:
          name: nginx-config
          key: environment
    volumeMounts:
    - name: config-volume
      mountPath: /etc/nginx/conf.d
    - name: secret-volume
      mountPath: /etc/secrets
      readOnly: true
  volumes:
  - name: config-volume
    configMap:
      name: nginx-config
  - name: secret-volume
    secret:
      secretName: nginx-secret
